@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&display=swap");

* {
    font-family: "Inter", sans-serif;
}

body {
    background-color: #f2f2f2;
}

header{
    text-align: center;
    margin-top: 20px;
}

.container {
    display: flex;
    color: #f2f2f2;
    width: 50%;
    margin: auto;
    height: 46%;
    margin-top: 10%;
}

.sedan {
    background-color: #e28524;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    padding-top: 30px;
}

.suv {
    background-color: #006971;
    padding-top: 30px;
}

.luxury {
    background-color: #00403e;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 30px;
}

.text {
    line-height: 25px;
    font-size: 13px;
}

.scontainer {
    margin: 10px 50px;
}

.button1 {
    background-color: #f2f2f2;
    border: 1px solid;
    margin-top: 50px;
    width: 80%;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #e28524;
    color: #e28524;
}

.button2 {
    background-color: #f2f2f2;
    margin-top: 50px;
    width: 80%;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #006971;
    color: #006971;
}

.button3 {
    background-color: #f2f2f2;
    margin-top: 50px;
    width: 80%;
    height: 50px;
    border-radius: 30px;
    outline: none;
    border: 1px solid #00403e;
    color: #00403e;
}

.button1:focus {
    border: 2px solid #f2f2f2;
    background-color: #e28524;
    color: #f2f2f2;
}

.button2:focus {
    border: 2px solid #f2f2f2;
    background-color: #006971;
    color: #f2f2f2;
}

.button3:focus {
    border: 2px solid #f2f2f2;
    background-color: #00403e;
    color: #f2f2f2;
}

@media only screen and (max-width: 900px) {
    .container{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .sedan{
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      border-bottom-left-radius: 0px;
    }
    .luxury{
       border-top-right-radius: 0px;
       border-bottom-left-radius: 5px;
    }
    button{
        margin-bottom: 10px;
    }
}